body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 60px;
}

.red{
    color: rgb(201, 64, 64);
}

.flexi{
    display: flex;
    margin-bottom: 100px;
}

.width-sizing{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.button{
    text-decoration: none;
    background: linear-gradient(salmon,red);
    color: #fff;
    font-weight: 700;
    padding: 12px 40px;
    border-radius: 16px;
}

.width-sizing img{
    width: 100%;
}
.top-ban{
    background-image: url(/img/top-banner.png);
    background-repeat: no-repeat;
}
.dream-sec{
    background-image: url(/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
